.show-limit, .total-paginator {
    float: left;
}

@media screen and (max-width: 768px) {
    .show-limit, .total-paginator {
        float: right !important;
    }
    .total-paginator {
        margin-right: 0.625rem !important;
    }
    .number-paginator {
        float: right !important;
        margin-top: 0.625rem !important;
    }
}

@media screen and (max-width: 480px) {

}
