::ng-deep {
  .confirm-dialog-container .mat-dialog-container {
    position: relative;
    width: 400px;
    padding: 8px 12px;
    height: auto;
  }

  .confirm-dialog {
    .confirm-dialog-header {
      top: 0;
      position: sticky;
      z-index: 99;
      border-bottom: 1px solid #b7b7b7;
    }

    .mat-dialog-content {
      margin: 0 !important;
      word-break: break-word;
    }

    .mat-dialog-actions {
      margin-bottom: 0 !important;
    }
  }
}
