<table cellpadding="0" cellspacing="0" border="0" width="100%">
    <tbody>
    <tr>
        <td bgcolor="#f2f2f2" style="font-size:0px">&nbsp;</td>
        <td bgcolor="#ffffff" width="660" align="center">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tbody>
                <tr>
                    <td>
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                            <tbody>
                            <tr>
                                <td bgcolor="#f2f2f2" style="padding-top:10px"></td>
                            </tr>
                            <tr>
                                <td bgcolor="#f2f2f2" style="padding-top:10px"></td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" bgcolor="#ffffff">
                                    <table border="0" cellpadding="0" cellspacing="0" style="margin-bottom:10px" width="100%">
                                        <tbody>
                                        <tr valign="bottom">
                                            <td width="20" align="center" valign="top">&nbsp;</td>
                                            <td align="left" height="64">
                                                <img style="width:118px;height:38px" width="118" height="38" border="0" src="https://bigdata2.admicro.vn/assets/styles/default/images/logo.png" />
                                            </td>
                                            <td width="20" align="center" valign="top">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table border="0" cellpadding="0" cellspacing="0" style="margin-bottom:10px" width="100%">
                                        <tbody>
                                        <tr valign="bottom">
                                            <td width="20" align="center" valign="top">&nbsp;</td>
                                            <td valign="top" style="font-family:Calibri,Trebuchet,Arial,sans serif;font-size:15px;line-height:22px;color:#333333">
                                                <p>Xin chào <strong><%= fullName %></strong>.</p>
                                                <p>Mã xác nhận của bạn là: <b><%= otp %></b></p>
                                                <p><i>Chú ý: mã xác nhận này chỉ có giá trị trong vòng 5 phút.</i></p>
                                                <p>&nbsp;</p>
                                                <p>Team support Bigdata Adtech - Admicro VCCorp.</p>
                                                <p>
                                                    <b>Trân trọng!</b>
                                                </p>
                                                <p></p></td>
                                            <td width="20" align="center" valign="top">&nbsp;</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                        <tbody>
                                        <tr>
                                            <td align="center" width="600" valign="top">
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                    <tbody>
                                                    <tr>
                                                        <td align="center" valign="top" bgcolor="#f2f2f2">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                <tbody>
                                                                <tr valign="bottom">
                                                                    <td width="20" align="center" valign="top">&nbsp;</td>
                                                                    <td>
                                                                        <span>
                                                                            <table border="0" cellpadding="0" cellspacing="0" style="padding-top:20px;font:12px Arial,Verdana,Helvetica,sans-serif;color:#292929" width="100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>
                                                                                            <p>Admicro.vn.</p>
                                                                                            <p>Địa chỉ: Tầng 19, Tòa nhà Center Building, Hapulico Complex, số 1 Nguyễn Huy Tưởng, Phường Thanh Xuân Trung, Quận Thanh Xuân, Hà Nội.</p>
                                                                                            <p>Điện thoại: 038 3298324 | Fax: (024) 7307 7980</p>
                                                                                            <p>&nbsp;</p>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </span>
                                                                    </td>
                                                                    <td width="20" align="center" valign="top">&nbsp;</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
        <td bgcolor="#f2f2f2" style="font-size:0px">&nbsp;</td>
    </tr>
    </tbody>
</table>
